<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if @article != nil && @merge_display %>
<form method="post" action="/admin/content/merge/<%= @article.id %>">
  <h3>Merge Articles</h3>
  <label for="merge_with" style="float: none;">Article ID</label>
  <input type="text" name="merge_with"></input>
  <br>
  <input type="submit" value="Merge"></input>
</form>
<% end %>
